* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: coral;
}

#main {
  max-width: 900px;
  margin: auto;
  height: 100%;
  padding: 0;
}

#book-list {
   padding: 0;
}

#book-list li {
   display: inline-block;
   margin: 12px;
   padding: 10px;
   border-radius: 4px;
   border: 1px solid gold;
   box-shadow: 1px 2px 3px blueviolet;
   cursor: pointer;
}

form {
   display: flex;
   flex-direction: column;
   padding: 20px;
   background: orchid;
}

form .field {
    padding: 10px 10px;
}

form .field label {
    width: 120px;
    display: inline-block;
}

form .field input, select {
    width: 85%;
}

button {
   margin: 0 auto;
   width: 50%;
}

#book-details {
  border: 1px solid silver;
  padding: 10px;
  margin: 20px 0;
  background: #8BC34A;
}

